<div class="flex justify-center items-center h-[25rem] w-[35rem]">
    <div
      class="w-full flex flex-col bg-[#28242f] shadow-lg rounded-lg overflow-hidden"
    >
      <div class="bg-gray-800 text-gray-200 text-lg px-6 py-4">
        The title of the card here
      </div>
  
      <div class="bg-[#e2ecff] flex justify-between items-center px-6 py-4">
        <div
          class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
        >
          Under Review
        </div>
        <div class="text-sm">May 14, 1988</div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="bg-[#e2ecff] px-6 py-4 flex-row flex">
        <!-- <div class="uppercase text-xs text-gray-600 font-bold">Author</div> -->
        <div class="flex items-center mr-4 pt-3">
          <!-- <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
              <p class="font-bold">Author</p>
            </div> -->
          <div
            class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
          >Author</div>
          <!-- <div
            class="bg-blue-700 w-12 h-12 flex justify-center items-center mx-4 rounded-full uppercase font-bold text-white"
          >
            TN
          </div> -->
          <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
            <p class="font-bold">Dhananjay</p>
          </div>
        </div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="px-6 py-4 bg-[#e2ecff]">
        Here is a short comment about this employee.
      </div>
  
      <div class="bg-[#e2ecff] px-6 py-4">
        <div class="flex items-center pt-3">
          <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
              Read more ...
            </button>
        </div>
      </div>
    </div>
  </div>
<div class="flex justify-center items-center h-[25rem] w-[35rem]">
    <div
      class="w-full flex flex-col bg-[#28242f] shadow-lg rounded-lg overflow-hidden"
    >
      <div class="bg-gray-800 text-gray-200 text-lg px-6 py-4">
        The title of the card here
      </div>
  
      <div class="bg-[#e2ecff] flex justify-between items-center px-6 py-4">
        <div
          class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
        >
          Under Review
        </div>
        <div class="text-sm">May 14, 1988</div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="bg-[#e2ecff] px-6 py-4 flex-row flex">
        <!-- <div class="uppercase text-xs text-gray-600 font-bold">Author</div> -->
        <div class="flex items-center mr-4 pt-3">
          <!-- <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
              <p class="font-bold">Author</p>
            </div> -->
          <div
            class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
          >Author</div>
          <!-- <div
            class="bg-blue-700 w-12 h-12 flex justify-center items-center mx-4 rounded-full uppercase font-bold text-white"
          >
            TN
          </div> -->
          <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
            <p class="font-bold">Dhananjay</p>
          </div>
        </div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="px-6 py-4 bg-[#e2ecff]">
        Here is a short comment about this employee.
      </div>
  
      <div class="bg-[#e2ecff] px-6 py-4">
        <div class="flex items-center pt-3">
          <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
              Read more ...
            </button>
        </div>
      </div>
    </div>
  </div>
<div class="flex justify-center items-center h-[25rem] w-[35rem]">
    <div
      class="w-full flex flex-col bg-[#28242f] shadow-lg rounded-lg overflow-hidden"
    >
      <div class="bg-gray-800 text-gray-200 text-lg px-6 py-4">
        The title of the card here
      </div>
  
      <div class="bg-[#e2ecff] flex justify-between items-center px-6 py-4">
        <div
          class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
        >
          Under Review
        </div>
        <div class="text-sm">May 14, 1988</div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="bg-[#e2ecff] px-6 py-4 flex-row flex">
        <!-- <div class="uppercase text-xs text-gray-600 font-bold">Author</div> -->
        <div class="flex items-center mr-4 pt-3">
          <!-- <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
              <p class="font-bold">Author</p>
            </div> -->
          <div
            class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
          >Author</div>
          <!-- <div
            class="bg-blue-700 w-12 h-12 flex justify-center items-center mx-4 rounded-full uppercase font-bold text-white"
          >
            TN
          </div> -->
          <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
            <p class="font-bold">Dhananjay</p>
          </div>
        </div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="px-6 py-4 bg-[#e2ecff]">
        Here is a short comment about this employee.
      </div>
  
      <div class="bg-[#e2ecff] px-6 py-4">
        <div class="flex items-center pt-3">
          <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
              Read more ...
            </button>
        </div>
      </div>
    </div>
  </div>
<div class="flex justify-center items-center h-[25rem] w-[35rem]">
    <div
      class="w-full flex flex-col bg-[#28242f] shadow-lg rounded-lg overflow-hidden"
    >
      <div class="bg-gray-800 text-gray-200 text-lg px-6 py-4">
        The title of the card here
      </div>
  
      <div class="bg-[#e2ecff] flex justify-between items-center px-6 py-4">
        <div
          class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
        >
          Under Review
        </div>
        <div class="text-sm">May 14, 1988</div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="bg-[#e2ecff] px-6 py-4 flex-row flex">
        <!-- <div class="uppercase text-xs text-gray-600 font-bold">Author</div> -->
        <div class="flex items-center mr-4 pt-3">
          <!-- <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
              <p class="font-bold">Author</p>
            </div> -->
          <div
            class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
          >Author</div>
          <!-- <div
            class="bg-blue-700 w-12 h-12 flex justify-center items-center mx-4 rounded-full uppercase font-bold text-white"
          >
            TN
          </div> -->
          <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
            <p class="font-bold">Dhananjay</p>
          </div>
        </div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="px-6 py-4 bg-[#e2ecff]">
        Here is a short comment about this employee.
      </div>
  
      <div class="bg-[#e2ecff] px-6 py-4">
        <div class="flex items-center pt-3">
          <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
              Read more ...
            </button>
        </div>
      </div>
    </div>
  </div>
<div class="flex justify-center items-center h-[25rem] w-[35rem]">
    <div
      class="w-full flex flex-col bg-[#28242f] shadow-lg rounded-lg overflow-hidden"
    >
      <div class="bg-gray-800 text-gray-200 text-lg px-6 py-4">
        The title of the card here
      </div>
  
      <div class="bg-[#e2ecff] flex justify-between items-center px-6 py-4">
        <div
          class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
        >
          Under Review
        </div>
        <div class="text-sm">May 14, 1988</div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="bg-[#e2ecff] px-6 py-4 flex-row flex">
        <!-- <div class="uppercase text-xs text-gray-600 font-bold">Author</div> -->
        <div class="flex items-center mr-4 pt-3">
          <!-- <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
              <p class="font-bold">Author</p>
            </div> -->
          <div
            class="bg-[#c5d0e3] text-xs uppercase px-2 py-1 rounded-full border border-gray-200 text-gray-600 font-bold"
          >Author</div>
          <!-- <div
            class="bg-blue-700 w-12 h-12 flex justify-center items-center mx-4 rounded-full uppercase font-bold text-white"
          >
            TN
          </div> -->
          <div class="ml-4 uppercase text-xs text-gray-600 font-bold">
            <p class="font-bold">Dhananjay</p>
          </div>
        </div>
      </div>
      <hr class="h-[2.3px]" />
      <div class="px-6 py-4 bg-[#e2ecff]">
        Here is a short comment about this employee.
      </div>
  
      <div class="bg-[#e2ecff] px-6 py-4">
        <div class="flex items-center pt-3">
          <button class="px-8 py-4 bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
              Read more ...
            </button>
        </div>
      </div>
    </div>
  </div>